# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Output data & archives
*.zip
*.csv
!python/requirements.txt

# OS
.DS_Store
Thumbs.db
